$block-width: 15px;
$block-height: 15px;

.block-unused{
  background-color: #B4C201;
}

.block-snake{
  background-color: #7A7C00;
}

.block-fruit{
  background: url("../images/fruits.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  background-color: #B4C201;
}

.block-snake-head{
  background-color: #757100;
}

.block{
  width: $block-width;
  height: $block-height;
  display: inline-block;
}

.blockRow{
  height: $block-height;
}

.game-panel{
  border: 10px solid #7A7C00;
  display: inline-block;
}
